<h1>Books:list</h1>

{% if books %}
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
        {% for book in books %}
        <tr>
            <td><a href="/books/{{ book.id }}">{{ book.title }}</a></td>
            <td><a href="/authors/{{ book.author.id }}">{{ book.author.first_name|first }}. {{book.author.last_name }}</a></td>
            <td><a href="/publishers/{{ book.publisher.id }}">{{ book.publisher.name }}</a></td>
        </tr>
        {% endfor %}
{% endif %}
